{% extends 'base.html.twig' %}

{% block body %}
    <h1>Amount</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ amount.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ amount.price }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ amount.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('amount_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('amount_edit', { 'id': amount.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
