{% extends 'baseclient.html.twig' %}

{% block title %}
    <link rel="stylesheet" href="style/style.css">
    Venture Option{% endblock %}
{% block body %}
    <div>
        <img src="http://thinkorangeblog.com/wp-content/uploads/2017/07/photo8-dolomites-anja-kallenbach-photo-workshop-adventures-1024x344.jpg" alt="W3Schools.com" width="1200" height="120">
    </div>
    <div class="container-fluid text-center">
    <div class="row content">
    <div align="left" class="col-sm-5 sidenav">
        <h2> {{ travel.description }}</h2>
        <table style="width:100%">
            <tbody>
            <tr>
                <th>Name</th>
                <td><b> {{ travel.name }}</td></b>
            </tr>
            <br>
            <tr>
                <th>Duration</th>
                <td> 7 days</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if travel.dateFrom %}{{ travel.dateFrom|date('Y-m-d') }}{% endif %}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <p>Not sure about {{ travel.name }}? Try our other destinations..</p>
        <p>Fill in the form. We will contact you shortly </p>
        <div align="left">
            <label>
                {{ form_start (form) }}
                {{ form_widget (form) }}
                <input type="submit" value="Send" />
               {{ form_end (form) }}
                </label>
        </div>
    </div>
        <div class="col-sm-7 text-left">
            <h1>Order Now!</h1>
            <br>
            <img src="https://static.pexels.com/photos/7640/pexels-photo.jpg" width="500" height="200">
           <h3> <b> {{ travel.name }}</b></h3>
            {{ travel.Longdescription }}
        </div>
    </div>
{% endblock %}