{% extends 'baseclient.html.twig' %}
{% block title %} All Adventures{% endblock %}
{% block body %}
    <div>
        
        <img class="logo-icon" src="{{ asset('images/iran2.jpg') }}"width="1200" height="120">
    </div>

    <div id="tours">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <h1>All Adventures</h1>
                    {% for travel in travels %}
                        <ul>
                            <li class="tour">
                                <h2><a href="{{ path('travel_clientshow', { 'id': travel.id }) }}">{{travel.name}}</a></h2>
                                <span class="details">{{ travel.description }}</span>
                                <span class="price">From {{ travel.priceFrom}} EUR </span>
                                <br>
                                <button type="button" class="btn btn-success">Book Now</button>
                            </li>


                        </ul>

                    {% endfor %}

                </div>



            </div>

            <div class="col-sm-7 text-left">
                <h1>Say Yes to new Adventures !</h1>
                <br>
                <br>
                <img src="https://media.gadventures.com/media-server/cache/cb/d5/cbd54b7cfa57c9da0d82a3b840155559.jpg" alt="W3Schools.com" width="700" height="300">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <hr>
            </div>

        </div>
    </div>
    <footer class="container-fluid text-center">
        <a href="{{ path('travel_client_contact_us') }}">Contact Us</a>
    </footer>
{% endblock %}



{% block javascripts %}
    <script> $(document).ready(function(){ console.log("Script working properly"); });
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ asset('js/ctour.js') }}"></script>
{% endblock %}
