{% extends 'baseclient.html.twig' %}
{% block title %} All Adventures{% endblock %}
{% block body %}
    <div>
        <img src="http://thinkorangeblog.com/wp-content/uploads/2017/07/photo8-dolomites-anja-kallenbach-photo-workshop-adventures-1024x344.jpg" alt="W3Schools.com" width="1200" height="120">

    </div>

    <div class="container-fluid text-center">
        <div class="row content">
            <div align="left" class="col-sm-5 sidenav">
                <div align="center">

                <p><h1 >All Adventures</h1></p>
                    <br>

            </div>
                <p>
                 <table style="width:100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price from</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                        {% for travel in travels %}
                            <tr>
                                <td><a href="{{ path('travel_clientshow', { 'id': travel.id }) }}">{{travel.name}}</a></td>
                                <td>{{ travel.description }}</td>
                                <td>{{ travel.priceFrom}} EUR </td>
                                <td>{% if travel.dateFrom %}{{ travel.dateFrom|date('Y-m-d') }}
                                    {% endif %}</td>
                                <td>
                            </tr>
                        {% endfor %}


                    </table>
                </p>

            </div>

            <div class="col-sm-7 text-left">
                <h1>Say Yes to new Adventures !</h1>
                <br>
                <br>
                <img src="https://media.gadventures.com/media-server/cache/cb/d5/cbd54b7cfa57c9da0d82a3b840155559.jpg" alt="W3Schools.com" width="700" height="300">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <hr>
            </div>

        </div>
    </div>

    <footer class="container-fluid text-center">
        <a href="{{ path('travel_client_contact_us') }}">Contact Us</a>
    </footer>


{% endblock %}
