{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prospective Clients List</h1>

    <table width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Comments</th>
                <th>Destination</th>
                <th>Tour</th>
                <th>Package</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
        {% for torder in torders %}
            <tr>
                <td><a href="{{ path('torder_show', { 'id': torder.id }) }}">{{ torder.id }}</a></td>
                <td>{{ torder.phone }}</td>
                <td>{{ torder.email }}</td>
                <td>{{ torder.comments }}</td>
                <td>{{ torder.travel }}</td>
                <td>{{ torder.package }}</td>
                <td>{{ torder.amount }}</td>
                <td>{{ torder.duration }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('torder_show', { 'id': torder.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('torder_edit', { 'id': torder.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('torder_new') }}">Create a new torder</a>
        </li>
    </ul>
{% endblock %}
